/* https://github.com/4weKromi */

/*Override defaults*/
body{
		margin:0;
		padding:10px;
		font-family:consolas;
		background:#383838;
}
p{
	color:white;
	text-decoration:none;
}
a{
	color:white;
	text-decoration:none;
}
a:hover{
color:red;
}

/* Headings */
.head{
	color:white;
	margin-left: 30px;
	font-size: large;
	text-decoration:none;
}

/* Buttons */
.xbox{
	/*background-color: #a8a8a8;*/
	list-style-type: none;
	padding:5px;
}
.xbox li{
	color:white;
	display:inline-block;
	margin: 5px;
	width:310px;
	height:100px;
	line-height:100px;
	text-align: center;
	padding:5px;
	background-color:#585858;
	box-shadow:0px 2px 6px 0px #0f0f0f;
}
.xbox li:hover{
	color:red;
	background-color:#c88858;
}

/* Navigate */
.xul{
	list-style-type:none;
	background-color:#000000;
	overflow:hidden;
	font-size:26px;
	font-family:consolas;
	border: 1px solid #000;
	}

.xli{
	float:left;
	padding:20px;
}

/* Content */
.content{
	color:white;
	margin-left: 50px;
	font-size: medium;
	text-decoration:none;
}
.text-box{
	/*margin: 10px;*/
	text-align: center;
	background-color:#000000;
}


